<div class="full-size animate-bg">
    <div class="corner-right m-10 center-element" style="height:36px">
        <mat-card style="background:transparent;box-shadow:none">
            <mat-card-header>
              <div mat-card-avatar class="profile-header-image" style="height:40px;width:40px;" >
                <img  src="{{user?.picture}}" class="md-user-avatar full-size"/>
              </div>
              <mat-card-title class="m-0" style="font-size:13px;" >{{user?.name }}</mat-card-title>
              <mat-card-title class="m-0" style="font-size:12px;" ><a href="http://github.com/{{user?.nickname}}" target="_blank" class="white">Git: {{user?.nickname }}</a></mat-card-title>
              <mat-card-subtitle  class="m-0 hand-cursor" style="font-size:11px;" (click)="logout()">
                Logout
            </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    
    <div class="center-element full-width half-size p-t-20">
        <div class="content-container full-width center-element">
            <mat-form-field class="white">
                <mat-placeholder class="white">Search City</mat-placeholder>
                  <input matInput type="search" class="white" [(ngModel)]="city">
                  <button mat-button matSuffix mat-stroked-button aria-label="search" class="no-border" (click)="searchCityWeather()">
                    <mat-icon class="white">search</mat-icon>
                </button>
              </mat-form-field>
        </div>
    </div>
</div>