.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.center-element-v {
    display: flex;
    align-items: center;
  }
  
.center-element-h {
    display: flex;
    justify-content: center;
  }

  .full-height{
      height:100%
  }

  .full-width{
      width:100%
  }

  .full-size{
      height:100%;
      width:100%;
  }

  .animate-bg {
    background: linear-gradient(214deg, #4e0025, #9c0130, #ce7c01, #b48800, #026517, #002447);
    background-size: 1200% 1200%;
    -webkit-transform-style: preserve-3d;   
    -webkit-backface-visibility: hidden;
      -webkit-animation: bgTransition 35s ease infinite;
      -moz-animation: bgTransition 35s ease infinite;
      animation: bgTransition 35s ease infinite;
  }
  
  @-webkit-keyframes bgTransition {
      0%{background-position:0% 76%}
      50%{background-position:100% 25%}
      100%{background-position:0% 76%}
  }
  @-moz-keyframes bgTransition {
      0%{background-position:0% 76%}
      50%{background-position:100% 25%}
      100%{background-position:0% 76%}
  }
  @keyframes bgTransition {
      0%{background-position:0% 76%}
      50%{background-position:100% 25%}
      100%{background-position:0% 76%}
  }
  